.Filters{
  background: #0f1112;
  padding: 50px 0;
  &__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button{
    color:#a7a9ac;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    border: solid 1px #a7a9ac;
    border-radius: 50px;
    padding:10px 30px;
    margin-right: 20px;
    transition: 300ms;
    &:hover{
      color:#ffffff;
      border-color:#ffffff;
      -webkit-box-shadow: inset 0px 0px 46px -16px rgba(255,255,255,1);
      -moz-box-shadow: inset 0px 0px 46px -16px rgba(255,255,255,1);
      box-shadow: inset 0px 0px 46px -16px rgba(255,255,255,1);

    }
    &.Filters__button--active{
      color:#ffffff;
      border-color:#ffffff;
      -webkit-box-shadow: inset 0px 0px 46px -16px rgba(255,255,255,1);
      -moz-box-shadow: inset 0px 0px 46px -16px rgba(255,255,255,1);
      box-shadow: inset 0px 0px 46px -16px rgba(255,255,255,1);

    }
  }
}
